{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 2 Chrome versions",
            "last 1 iOS major versions"
          ]
        },
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "transform-runtime",
    "transform-class-properties",
    "transform-object-rest-spread"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": false
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "sourceMap": true
          }
        ]
      ]
    }
  }
}